.card-block.files {
  .card-text {
    margin-bottom: -.25rem;
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.5rem;

    .file-table {
      margin-bottom: 0;
      margin-top: 0;

      th {
        background-color: #EFEFEF;
      }

      tr.directory td {
        border-top: 1px solid #ddd;
        padding: 20px 12px;
        text-align: left;
        font-size: .75rem;
        font-weight: 200;
        letter-spacing: normal;
      }

      tr {
        td:first-child, th:first-child {
          padding-left: .75rem;
        }

        td:last-child, th:last-child {
          padding-right: .75rem;
        }

      }
    }
  }
}
