<div class="page-header">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="page-title">
        <span class="page-type">Visualizable Files</span>
      </h3>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="row">

    <div class="col-xs-6">
      <div class="card">
        <div class="card-header" >
          Processes with Visualizable Results
        </div>
        <div class="card-block">
          <div class="card-text">
            <p *ngIf="processItems.length < 1">
              No processes found with visualizable results.
            </p>

            <ng-container *ngIf="processItems.length > 0">
              <ng-container *ngFor="let processItem of processItems">
                <recursive-treeview
                  [item]="processItem"
                  [processId]="processItem.id">
                </recursive-treeview>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card">
        <div class="card-header" >
          Visualize Folder
        </div>
        <div class="card-block">
          <div class="card-text">
            <p *ngIf="(dropboxFiles$ | async)?.length < 1">
              No visualizable files found in ~/pVACseq/visualize/
            </p>

            <ng-container *ngIf="(dropboxFiles$ | async)?.length > 0">
              <recursive-treeview
                [item]="filesItem"
                [processId]="'-1'">
              </recursive-treeview>
            </ng-container>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>processItems</p>
    <prettyjson [obj]="processItems | json:2" [style.min-height]="800"></prettyjson>
  </div>
  <div class="col-sm-6">
    <p>filesItem</p>
    <prettyjson [obj]="filesItem | json:2" [style.min-height]="800"></prettyjson>
  </div>
</div>
