.card-block.files {
  .card-text {
    margin-bottom: -.25rem;
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.5rem;

    .file-table {
      margin-bottom: 0;
      margin-top: 0;
      th {
        background-color: #EFEFEF;
      }

      tr {
        td:first-child, th:first-child {
          padding-left: .75rem;
        }

        td:last-child, th:last-child {
          padding-right: .75rem;
        }

      }
    }
  }
}
