<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        <span class="page-entity">Local Processes</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
      <button class="btn btn-sm" (click)="reload()">
        Reload
      </button>
    </div>
  </div>
</div>
<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Sample Name</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Attached</clr-dg-column>
  <clr-dg-column>&nbsp;</clr-dg-column>

  <clr-dg-row *ngFor="let process of processes$ | async">
    <clr-dg-cell>{{process.id}}</clr-dg-cell>
    <clr-dg-cell>{{process.parameters.samplename}}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label" [ngClass]="{'label-info': process.running === true, 'label-danger': process.running === false && process.status !== 1, 'label-success': process.running === false && process.status === 1 }">
        {{process.running ? 'Running' : process.status === 1 ? 'Completed' : 'Stopped' }}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>{{process.attached}}</clr-dg-cell>
    <clr-dg-cell class="row-actions">
      <a routerLink ="{{process.id}}" role="button" class="btn btn-sm btn-link">Details</a>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer></clr-dg-footer>
</clr-datagrid>
