<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        <span class="page-entity">Local Processes</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
      <button class="btn btn-sm" (click)="reload()">
        Reload
      </button>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <pvz-process-table [processes]="processes$ | async"></pvz-process-table>
    </div>
  </div>
</div>
