<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        <span class="page-entity">Local Processes</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
      <button class="btn btn-sm" (click)="onReload()">
        Reload
      </button>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="row" *ngIf="(manageState$ | async).showNotice">
    <div class="col-xs-12" >
      <clr-alert [clrAlertType]="(manageState$ | async).notice.type" [clrAlertClosable]="false">
        <div class="alert-item">
          <span class="alert-text">
            {{ (manageState$ | async).notice.message }}
          </span>
        </div>
      </clr-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <pvz-process-table
        [processes]="processes$ | async"
        [meta]="processesMeta$ | async"
        (refresh)="onRefresh($event)"
        (export)="onExport($event)"
        (archive)="onArchive($event)"
        (delete)="onDelete($event)"
        (restart)="onRestart($event)">

      </pvz-process-table>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12" >
    <p>manageState$</p>
    <prettyjson [obj]="(manageState$ | async) | json:2" [style.min-height]="800">
    </prettyjson>
  </div>
</div>
