<option value="TEST">TEST</option>
<!-- <ng-container [ngSwitch]="node.type === 'file'"> -->
<!-- <ng-container *ngSwitchCase="true"> -->
<!-- <option value="node.fileID">{{parent + '/' + node.display_name}}</option> -->
<!-- </ng-container> -->
<!-- <ng-container *ngSwitchCase="true"> -->
<!-- <option disabled>{{parent + '/' + node.display_name}}</option> -->
<!-- <ng-container *ngFor="let node of node.children"> -->
<!-- <option option-node [node]="node" parent="{{ parent + '/' + node.display_name }}"></option> -->
<!-- </ng-container> -->
<!-- </ng-container> -->
<!-- </ng-container> -->

<!-- <div>{{node.name}}</div> -->
<!-- <ul> -->
<!-- <li *ngFor="let node of node.children"> -->
<!-- <tree-node  [node]="node"></tree-node> -->
<!-- </li> -->
<!-- </ul> -->
