<ng-template #directory let-files="files">
  <!-- iterate through files array -->
  <ng-container *ngFor="let file of files">
    <!-- check if file or directory -->
    <ng-container [ngSwitch]="file.type" >
      <!-- if file, show an option -->
      <ng-container *ngSwitchCase="true" >
        
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>



<!-- <ng-container [ngSwitch]="node.type === 'file'"> -->
<!-- <ng-container *ngSwitchCase="true"> -->
<!-- <option value="node.fileID">{{parent + '/' + node.display_name}}</option> -->
<!-- </ng-container> -->
<!-- <ng-container *ngSwitchCase="true"> -->
<!-- <option disabled>{{parent + '/' + node.display_name}}</option> -->
<!-- <ng-container *ngFor="let node of node.children"> -->
<!-- <option option-node [node]="node" parent="{{ parent + '/' + node.display_name }}"></option> -->
<!-- </ng-container> -->
<!-- </ng-container> -->
<!-- </ng-container> -->

<!-- example recursive template -->

<aside class="tree-view" >
  <ul>
    <!-- 1: define template -->
    <ng-template #recursiveList let-list>
      <li *ngFor="let item of list">
        {{ item.name }}
        <ul *ngIf="item.children" >
          <!-- 2: check for child items and if any render the template again -->
          <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: item.children }">
          </ng-container>
        </ul>
      </li>
    </ng-template>
    <!-- using ng-container and ngTemplateOutlet to render the defined template -->
    <ng-container *ngTemplateOutlet="recursiveList: context: {$implicit: processes }"></ng-container>
  </ul>
</aside>


