<ng-template #directory let-files>
  <!-- iterate through files array -->
  <ng-container *ngFor="let node of files">
    <!-- check if file or directory -->
    <ng-container [ngSwitch]="node.type" >
      <!-- if file, show an option -->
      <ng-container *ngSwitchCase="'file'" >
        <option value="{{node.fileID}}">&nbsp;{{node.display_name}}</option> 
      </ng-container>
      <!-- if directory, set file, parent and call #directory template -->
      <ng-container *ngSwitchCase="'directory'" >
        <option disabled>{{parent + node.display_name}}</option> 
        <ng-container *ngTemplateOutlet="directory; context: {$implicit: node.contents, parent: parent + node.display_name + '/'}"></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
<ng-container *ngTemplateOutlet="directory; context: {$implicit: files, parent:parent}"></ng-container>

