<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        Start Process
      </h3>
    </div>
  </div>
</div>
<form [ngrxFormState]="formState$ | async" (submit)="onSubmit()">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Inputs, Algorithms &amp; Alleles</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-bg">
          <section class="form-block">
            <label>Inputs, Alleles, and Algorithms</label>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.samplename, fieldName: 'Sample Name', helpText: 'User-defined reference name for the process', required: true }">
            </ng-container>

            <div class="form-group row">
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="input" class="required">Input VCF</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <ng-select
                  [items]="inputs$ | async"
                  bindLabel="display_name"
                  bindValue="fileID"
                  [searchable]="true"
                  groupBy="directory"
                  placeholder="Select Input VCF File"
                  [ngrxFormControlState]="(formState$ | async).controls.input">
                </ng-select>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Input VCF File
              </div>
            </div>

            <div class="form-group row">
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="prediction_algorithms" class="required">Prediction Algorithms</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <ng-select
                  [items]="algorithms$ | async"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  bindLabel="name"
                  bindValue="name"
                  [searchable]="true"
                  placeholder="Select Prediction Algorithms"
                  [ngrxFormControlState]="(formState$ | async).controls.prediction_algorithms">
                </ng-select>
              </div>
              <div class="col-xs-12 col-sm-4 col-form-help">
                List of prediction algorithms to use
              </div>
            </div>

            <div class="form-group row">
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="alleles" class="required">Alleles</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <ng-select
                  [items]="alleles$ | async"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  bindLabel="name"
                  bindValue="name"
                  [searchable]="true"
                  placeholder="Select Alleles!"
                  [ngrxFormControlState]="(formState$ | async).controls.alleles">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span>{{ item.name }}</span>
                    <span style="font-size: 11px; font-style: oblique; color: grey;line-height: 11px;">
                      &nbsp;({{ item.prediction_algorithms.join(',') }})
                    </span>
                  </ng-template>
                </ng-select>
                <span class="p7" style="color: #F54F47" *ngIf="(predictionAlgorithms$ | async).length === 0">
                  Please select prediction algorithms to populate alleles selector.
                </span>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                List of alleles to run the sequences against
              </div>
            </div>

          </section>
        </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Settings</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-bg">
          <section class="form-block">
            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.epitope_lengths, fieldName: 'Epitope Lengths', helpText: 'List of eptope lengths to produce', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.peptide_sequence_length, fieldName: 'Peptide Sequence Length', helpText: 'Length of the peptide sequences to produce in the FASTA', required: true }">
            </ng-container>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="net_chop_method">Netchop Method</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <ng-select
                  [items]="netChopMethodOptions"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Choose Netchop Method"
                  [ngrxFormControlState]="(formState$ | async).controls.net_chop_method">
                </ng-select>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Run NetChop using the specified method
              </div>
            </div>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.net_chop_threshold, fieldName: 'Netchop Threshold', helpText: 'Netchop prediction threshold', required: true }">
            </ng-container>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="netmhc_stab">Run NeMHC Stab?</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="checkbox" [ngrxFormControlState]="(formState$ | async).controls.netmhc_stab"/>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Run NetMHCStabPan at the end of the pipeline
              </div>
            </div>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="top_score_metric" class="required">Top Score Metric</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <ng-select
                  [items]="topScoreMetricOptions"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Choose Top Score Metric"
                  [ngrxFormControlState]="(formState$ | async).controls.top_score_metric">
                </ng-select>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                ic50 metric for choosing best epitopes during binding filtering
              </div>
            </div>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.binding_threshold, fieldName: 'Binding Threshold', helpText: 'Report only epitopes with a predicted binding score below this value.', required: true }">
            </ng-container>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="allele_specific_cutoffs">Allele Specific Cutoffs?</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="checkbox" [ngrxFormControlState]="(formState$ | async).controls.allele_specific_cutoffs"/>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Use allele-specific cutoffs instead of the value provided with the Binding Threshold
              </div>
            </div>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.minimum_fold_change, fieldName: 'Minimum Fold Change', helpText: 'Report only epitopes with a fold change between the mutant and wildtype sequences above this value', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.expn_val, fieldName: 'Gene & Transcript Expn. Cutoff', helpText: 'Sites above this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.normal_cov, fieldName: 'Normal Coverage Cutoff', helpText: 'Sites above this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.tdna_cov, fieldName: 'Tumor DNA Coverage Cutoff', helpText: 'Sites above this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.trna_cov, fieldName: 'Tumor RNA Coverage Cutoff', helpText: 'Sites above this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.normal_vaf, fieldName: 'Normal VAF Cutoff', helpText: 'Sites below this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.tdna_vaf, fieldName: 'Tumor DNA VAF Cutoff', helpText: 'Sites below this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.trna_vaf, fieldName: 'Tumor RNA VAF Cutoff', helpText: 'Sites below this cutoff will be considered.', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.fasta_size, fieldName: 'FASTA Size', helpText: 'Event number of entries submitted to IEDB in each request', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.iedb_retries, fieldName: 'IEDB Retries', helpText: 'Number of retries when making requests to the IEDB RESTful web interface. Must be less than or equal to 100', required: true }">
            </ng-container>

            <ng-container *ngTemplateOutlet="inputRow; context: { control: (formState$ | async).controls.downstream_sequence_length, fieldName: 'Downstream Sequence Length', helpText: 'Cap to limit the downstream sequence length for frameshifts when creating the fasta file. Use \'full\' to include the full downstream sequence', required: true }">
            </ng-container>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="keep_tmp_files">Keep Temp Files?</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="checkbox" [ngrxFormControlState]="(formState$ | async).controls.keep_tmp_files"/>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Keep temporary files in the output directory after completion
              </div>
            </div>

            <div class="form-group row" >
              <div class="col-xs-12 col-sm-3 col-form-label">
                <label for="force">Force Duplicate Process?</label>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="checkbox" [ngrxFormControlState]="(formState$ | async).controls.force"/>
              </div>
              <div class="col-xs-12 col-sm-5 col-form-help">
                Bypass the check for duplicate processes
              </div>
            </div>

          </section>
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

  <section class="form-block">
    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-block" [ngClass]="{'btn-primary': (postError$ | async) == false, 'btn-warning': (postError$ | async) == true}" type="submit" [disabled]="(formState$ | async).isInvalid">
          <!-- default play icon -->
          <clr-icon shape="play" size="18" *ngIf="(postSubmitting$ | async) == false && (postSubmitted$ | async) == false"></clr-icon>
          <!-- spinner while submitting -->
          <span class="spinner spinner-inline" *ngIf="(postSubmitting$ | async) == true"></span>
          <!-- successful submit -->
          <clr-icon shape="check-circle" size="18" *ngIf="(postSubmitted$ | async) == true && (postError$ | async) == false"></clr-icon>
          <!-- submit error -->
          <clr-icon shape="exclamation-circle" size="18" *ngIf="(postSubmitted$ | async) == true && (postError$ | async) == true"></clr-icon>
          Submit Process
        </button>
      </div>
      <div class="col-sm-9">
        <!-- form incomplete -->
        <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngIf="(formState$ | async).isDirty && (formState$ | async).isInvalid">
          <div class="alert-item">
            <span class="alert-text">
              To submit, please ensure that all required fields are properly specified.
            </span>
          </div>
        </clr-alert>

        <!-- submit error -->
        <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false" *ngIf="(postError$ | async) === true">
          <div class="alert-item">
            <span class="alert-text">
              {{postMessage$ | async}}
            </span>
          </div>
        </clr-alert>

        <!-- submit success -->
        <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false" *ngIf="(postSubmitted$ | async) === true && (postError$ | async) === false">
          <div class="alert-item">
            <span class="alert-text">
              Process successfully launched. <a routerLink="/manage/{{(newProcessId$ | async)}}">Click here to view its details</a>.
            </span>
          </div>
        </clr-alert>
      </div>
    </div>
    <div class="row" >
      <div class="col-sm-12" >
        <button type="button" class="btn btn-primary"
          [disabled]="(formState$ | async).isPristine
          && (formState$ | async).isUntouched
          && (formState$ | async).isUnsubmitted"
          (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </section>
</form>
<div class="row">
  <div class="col-sm-6">
    <p>formState$</p>
    <prettyjson [obj]="(formState$ | async) | json:2" [style.min-height]="800">
    </prettyjson>
  </div>
  <div class="col-sm-6">
    <p>controls.prediction_algorithms:</p>
    <prettyjson [obj]="(formState$ | async).controls.prediction_algorithms | json:2" [style.min-height]="800"></prettyjson>
  </div>
</div>

<!-- FORM ROW TEMPLATES -->

<!-- text input -->
<ng-template #inputRow
  let-control="control"
  let-fieldName="fieldName"
  let-helpText="helpText"
  let-required="required">
  <div class="form-group row">
    <div class="col-xs-12 col-sm-3 col-form-label">
      <label for="{{control.id}}" [ngClass]="{ 'required': required === true }">{{ fieldName }}</label>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="control"
        role="tooltip"
        [class.invalid]="control.isInvalid && control.isTouched"
        class="tooltip tooltip-validation tooltip-md">

        <input type="text" id="{{control.id}}"
          size="32"
          [disabled]="control.isDisabled"
          [ngrxFormControlState]="control">

        <span class="tooltip-content">
          <pvz-validation-messages #messages
            [control]="control"
            [errors]="control.errors">
            <pvz-validation-message name="required">{{ fieldName }} is required.</pvz-validation-message>
            <pvz-validation-message name="minLength">{{ fieldName }} must contain at least {{ messages.errors.minLength?.minLength }} characters.</pvz-validation-message>
          </pvz-validation-messages>
        </span>
      </label>
    </div>
    <div class="col-xs-12 col-sm-5 col-form-help">
      {{ helpText }}
    </div>
  </div>
</ng-template>
