<clr-main-container>
  <clr-header class="header-4">
    <img src="assets/pvacviz-logo.png" width="155" height="60" />
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [clrVerticalNavCollapsed]="collapsed$ | async" (clrVerticalNavCollapsedChange)="collapseChange($event)">
      <a clrVerticalNavLink routerLink="./start" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="play"></clr-icon>
        Start
      </a>
      <a clrVerticalNavLink routerLink="./manage" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="view-list"></clr-icon>
        Manage
      </a>
      <!-- <a clrVerticalNavLink routerLink="./review" routerLinkActive="active"> -->
      <!-- <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon> -->
      <!-- Review -->
      <!-- </a> -->
      <a clrVerticalNavLink routerLink="./visualize" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="scatter-plot"></clr-icon>
        Visualize
      </a>
    </clr-vertical-nav>
  </div>

</clr-main-container>
<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">{{(modalConfig$ | async).labels.title }}</h3>
  <div class="modal-body">
    <p>{{ (modalConfig$ | async).message }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">Ok</button>
  </div>
</clr-modal>
