<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="storage"></clr-icon>
        <span class="title">pVACviz</span>
      </a>
    </div>
    <div class="header-nav">
      <a class=" nav-link nav-icon" routerLink='/admin/main' routerLinkActive='active'>
        <clr-icon shape="home"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/labeler' routerLinkActive='active'>
        <clr-icon shape="group"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/generice-medicine' routerLinkActive='active'>
        <clr-icon shape="tools"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/generice-medicine-supplier' routerLinkActive='active'>
        <clr-icon shape="shopping-cart"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/packages' routerLinkActive='active'>
        <clr-icon shape="archive"></clr-icon>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav
      [clrVerticalNavCollapsible]="collapsible"
      [clrVerticalNavCollapsed]="collapsed$ | async"
      (clrVerticalNavCollapsedChange)="collapseChange($event)">
      <a clrVerticalNavLink routerLink="./start" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="play"></clr-icon>
          Start
      </a>
      <a clrVerticalNavLink routerLink="./manage" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="view-list"></clr-icon>
          Manage
      </a>
      <a clrVerticalNavLink routerLink="./review" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
        Review
      </a>
      <a clrVerticalNavLink routerLink="./visualize" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="scatter-plot"></clr-icon>
        Visualize
      </a>
  </clr-vertical-nav>
  </div>

</clr-main-container>
