@import '~pvz-variables.scss';

.status-bar {
  margin-top: 18px;
}

.preformatted-sm {
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: 12px;
  line-height: .75rem;

  .soft-break {
    display: block;
  }

}

.card-header-buttons {
  text-align: right;
  .btn {
    margin: 0;
  }
}

.parameters {
  p {
    margin: 0;
    padding: 0;
  }

  .param-value {
    line-height: .8rem;
    margin-top: -.2rem;
  }
}

.files {
  .card-text {
    margin-bottom: -.25rem;
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.5rem;

    .card-table-flush {
      margin-top: 0;

      th {
        background-color: #EFEFEF;
      }

      tr {
        td:first-child {
          padding-left: .75rem;
        }

        td:last-child {
          padding-right: .75rem;
        }

      }
    }
  }
}
