<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        <span class="page-type">Process</span>
        <span class="page-entity">{{(parameters$ | async)?.samplename}}</span>
        <span class="p5">&nbsp;&nbsp;Updated a few seconds ago</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
      <button class="btn btn-sm">
        Reload
      </button>
      <button class="btn btn-sm">
        Archive
      </button>
      <button class="btn btn-sm">
        Restart
      </button>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-xs-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-6">
            Parameters
          </div>
        </div>
      </div>
      <div class="card-block">
        <p class="p4" >
          Alleles
        </p>
        <p class="p3">
          <span *ngFor="let allele of alleles$ | async; let l = last">
            {{allele}}{{last ? '':', '}}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-6">
            Log
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text log">
          <p *ngFor="let line of Log$ | async">
            {{ line }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
{{ (parameters$ | async) | json }}
</pre>
