<div class="page-header">
  <div class="row">
    <div class="col-xs-8">
      <h3 class="page-title">
        <span class="page-type">Process</span>
        <span class="page-entity">{{(parameters$ | async)?.samplename}}</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
    </div>
  </div>
</div>
<div class="status-bar">
  <div class="row">
    <div class="col-xs-12">
      <!-- Running -->
      <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false" *ngIf="(status$ | async) === 'Running'">
        <div class="alert-item">
          <span class="alert-text">
            <strong>Runnning:</strong> {{(process$ | async)?.last_message}}
          </span>
        </div>
      </clr-alert>
      <!-- Completed -->
      <clr-alert [clrAlertType]="'success'" [clrAlertClosable]="false" *ngIf="(status$ | async) === 'Completed'">
        <div class="alert-item">
          <span class="alert-text">
            <strong>Completed:</strong> {{(process$ | async)?.last_message}}
          </span>
        </div>
      </clr-alert>
      <!-- Stopped -->
      <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false" *ngIf="(status$ | async) === 'Stopped'">
        <div class="alert-item">
          <span class="alert-text">
            <strong>Stopped:</strong> {{(process$ | async)?.last_message}}
          </span>
        </div>
      </clr-alert>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-6">
            Parameters
          </div>
          <div class="col-xs-6 card-header-buttons">
            <button class="btn btn-sm" (click)="restart()">
              Restart
            </button>
          </div>
        </div>
      </div>
      <div class="card-block parameters">
        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">
              Sample Name
            </p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.samplename}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">
              Input
            </p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.input}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">
              Alleles
            </p>
            <p class="p3 param-value">
              <span *ngFor="let allele of alleles$ | async; let last = last">
                {{allele}}{{last ? '':', '}}
              </span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">
              Prediction Algorithms
            </p>
            <p class="p3 param-value">
              <span *ngFor="let algorithm of prediction_algorithms$ | async; let last = last">
                {{algorithm}}{{last ? '':', '}}
              </span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <p class="p4 param-label">Epitope Lengths</p>
            <p class="p3 param-value">
              <span *ngFor="let length of epitope_lengths$ | async; let last = last">
                {{length}}{{last ? '':', '}}
              </span>
            </p>
          </div>

          <div class="col-xs-6">
            <p class="p4 param-label">Peptide Seq. Len.</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.peptide_sequence_length}}
            </p>
          </div>
        </div>

        <div class="row" *ngIf="!!(parameters$ | async)?.net_chop_method">
          <div class="col-xs-6">
            <p class="p4 param-label">Netchop Method</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.net_chop_method}}
            </p>
          </div>
          <div class="col-xs-6">
            <p class="p4 param-label">Threshold</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.net_chop_threshold}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">NetMHC Stabpan</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.netmhc_stab}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Binding Threshold</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.binding_threshold}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Allele Specific Cutoffs</p>
            <p class="p3 param-value">
            {{(parameters$ | async)?.allele_specific_cutoffs}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Top Score Metric</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.top_score_metric}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Minimum Fold Change</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.minimum_fold_change}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Expression Value</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.expn_val}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Normal Coverage Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.normal_cov}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">TDNA Coverage Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.tdna_cov}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">TRNA Coverage Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.trna_cov}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Normal VAF Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.normal_vaf}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">TDNA VAF Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.tdna_vaf}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">TRNA VAF Cutoff</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.trna_vaf}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">FASTA Size</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.fasta_size}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">IEDB Retries</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.iedb_retries}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="p4 param-label">Keep Temp. Files</p>
            <p class="p3 param-value">
              {{(parameters$ | async)?.keep_tmp_files}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-6">
            pVACseq Command
          </div>
        </div>
      </div>
      <div class="card-block command preformatted-sm">
        <div class="card-text">
          <span>{{ (process$ | async)?.command }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-8">
            Log
            <span class="p5">&nbsp;&nbsp;Updated {{ (process$ | async)?.log_updated_at | amFromUnix | amTimeAgo }}</span>
          </div>
          <div class="col-xs-4 card-header-buttons">
            <button class="btn btn-sm" (click)="reload()">
              Reload
            </button>
          </div>
        </div>
      </div>
      <div class="card-block log preformatted-sm">
        <div class="card-text">
          <span *ngFor="let line of log$ | async; let last = last" class="soft-break">
            {{ line }}
          </span>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-xs-12">
            Results
            <span class="p5">&nbsp;&nbsp;Output directory:&nbsp;~/pVACseq/{{ (process$ | async)?.output}}</span>
          </div>
        </div>
      </div>
      <div class="card-block files">
        <div class="card-text">
          <table class="table table-compact table-noborder file-table">
            <thead>
              <tr>
                <th class="left">&nbsp;</th>
                <th class="left">Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of (process$ | async)?.files">
                <td class="left">{{file.display_name.split('/').slice(-1)}}</td>
                <td class="left">{{file.description}}</td>
                <td class="right">
                  <button [routerLink]="['/visualize/process', (process$ | async).id, 'results', file.fileID]"
                    [disabled]="file.is_visualizable === false"
                    class="btn btn-sm btn-link">Visualize</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
