<div class="page-header">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="page-title">
        <span class="page-type">{{(process$ | async)?.parameters.samplename}}</span><br/>
        <span class="page-subtitle">{{ (file$ | async)?.display_name }} ({{ (file$ | async)?.description }})</span>
      </h3>
    </div>
    <div class="col-xs-4 text-right page-buttons">
    </div>
  </div>
</div>
<pvz-bokeh-visualization [visualizeUrl]="visualizeUrl$ | async"></pvz-bokeh-visualization>
